<html>
    <head>
        <title>
            this is test page
        </title>
    </head>
    <body>
         <h1>
            this the web site for testing the kubetentes and terraform
        </h1>
        <h2>
            the hostname is {{hostname}} and the ip is {{ip}}
        </h2>
    </body>
</html>